.Body{
  min-height:98% ;
  height:98%;
  width:100%;
  display:block;
  margin:0;
  padding-top:50px;
  background-color:#DFE2DB;
  height:100vh;
}

.tabs{
	margin:5px;
	margin-top:8px;
	margin-right:8px;
	border-radius:8px;
	float:left;
	width:24%;
	height:40vh;
	cursor:pointer;
	box-shadow: 5px 6px 20px 0px #1E1D1D;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


.description{
	background-color:black;
	height:70vh;
	color:white;
	width:100%;
	padding:15px;
}

#A_text,#WD_text,#C_text,#L_text{
	display:none;
}

#A_text{
	background-color:rgba(0, 171, 43, 1);
}

#WD_text{
	background-color:rgb(218, 148, 0);
}

#C_text{
	background-color:rgb(255, 105, 105)	;
}

#L_text{
	background-color:#7c0294;
}

#Android{
	background-image:url("Android.jpg");	
}

#Web_Development{
	background-image:url("webdevelopment.jpg");
}

#Coding{
	background-image:url("coding.jpg");
}

#Linux{
	background-image:url("linux.jpg");
}

.H3{
	text-align:center;
	font-family: 'Sansita', sans-serif;
	font-size:400%;
}