.Body{
  min-height:98% ;
  height:98%;
  width:100%;
  display:block;
  margin:0;
  padding-top:50px;
  background-color:#DFE2DB;
  height:100vh;
}

.tabs{
	margin:5px;
	margin-top:8px;
	margin-right:8px;
	border-radius:8px;
	float:left;
	width:24%;
	height:40vh;
	cursor:pointer;
	box-shadow: 5px 6px 20px 0px #1E1D1D;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#img{
position:absolute;
height:100px;
width:100px;
top:10.75%;
left:32.25%;
}

.circle{
position:absolute;
width:110px;
height:110px;
padding:0px 0px;
margin:0px auto;
background:pink;
color:black;
border-radius:55px;
border radius: 50%;
cursor:pointer;
text-align:center;
vertical-align: middle;
transition:0.75s;
transition-timing-function:cubic-bezier(.4,.44,.9,.45);
font-size:16px;

}

#LinuxCircle{
top:9%;
left:64%;
}

#WebdevCircle{
top:9%;
left:27%;
}

#CompCircle{
top:69%;
left:27%;
}

#AndroidCircle{
top:69%;
left:64%;
}

.circle:hover{
background:red;
color:yellow;
transform:rotateZ(360deg);
}

#content-linux{
position:absolute;
top:20%;
left:46%;
color:white;
text-align:center;
display:none;
}

#content-android{
position:absolute;
top:20%;
left:39%;
color:white;
text-align:center;
display:none;
}

#content-webdev{
position:absolute;
top:20%;
left:41%;
color:white;
text-align:center;
display:none;
}

#content-comp{
position:absolute;
top:20%;
left:40%;
color:white;
text-align:center;
display:none;
}

#tabs{
	position:relative;
	top:100%;
}


.description{
	background-color:black;
	height:70vh;
	color:white;
	width:100%;
	padding:0px;
	position:absolute;
	margin-left:-14px;
}

#A_text,#WD_text,#C_text,#L_text{
	display:none;
}

#A_text{
	background-color:rgba(0, 171, 43, 1);
}

#WD_text{
	background-color:rgb(218, 148, 0);
}

#C_text{
	background-color:rgb(255, 105, 105)	;
}

#L_text{
	background-color:#7c0294;
}

#Android{
	background-image:url("Android.jpg");	
}

#Web_Development{
	background-image:url("webdevelopment.jpg");
}

#Coding{
	background-image:url("coding.jpg");
}

#Linux{
	background-image:url("linux.jpg");
}

.H3{
	text-align:center;
	font-family: 'Sansita', sans-serif;
	font-size:400%;
}

.description > p{
	padding:10px;	
}