html,body{
	margin: 0;
	padding: 0;
	font-size: 10px;
	max-width: 100vw;
	
}


/* Media Queries Part-I */
@media only screen and (max-width: 950px){
    html{
    	font-size: 8px;
    }

}

@media only screen and (max-width: 600px){
    html{
    	font-size: 7px;
    }

}
@media only screen and (max-width: 450px){
	html{
		font-size: 5px;
}
}
/* =======COORDINATORS===== */

#body-1{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100vh;
    max-width: 100vw;
}

/* Background-image for coordinators part */
#background-1{
    height: 100vh;
	width: 100vw;
	position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
	left: 0;
	z-index: -1;
	background-position: : center;
	background-size: cover;
    background-repeat: no-repeat;
	background-attachment: fixed;			          
	background-image: url('background-2.jpg');
	min-height: 100vh;
	}

/* Styling the header */
#body-1 h3{
	font-size: 5rem;
	text-align: center;
	color: #5c5c5c;
	font-family: Fyodor;
	line-height: -1rem;
	top: -2rem;
	position: relative;
}	   	 

/* Styling for the title 'COORDINATORS' */
#body-1 h1{
	font-size: 10rem;
	text-align: center;
	color: #ffffff;
    font-family: Comme;
	font-weight: bolder;
	margin-top: -9rem;
}

.padding-left{
	padding-left: 5rem;
}
.padding-right{
	padding-right: 5rem;
}
/* Containers containing the Coordinators */
#coord-cont-1{
	          width: 45vw;
	          height: 36rem;
	          display: inline-block;
	          
	          padding-left: 0rem;
              
}
#coord-cont-2{
	          width: 45vw;
	          height: 36rem;
	          display: inline-block;
	          margin-left: 6vw;
	          margin-top: -0em;
	          

}
#coord-cont-3{
	          width: 45vw;
	          height: 36rem;
	          display: inline-block;
	          left: 50px;
	          padding-left: 0rem;
	          margin-top: 5rem;
              
}
#coord-cont-4{
	          width: 45vw;
	          height: 36rem;
	          display: inline-block;
	          margin-left: 6vw;
	          margin-top: 5rem;
	          
	      }
#coord-cont-5{
	          width: 45vw;
	          height: 36rem;
	          display: inline-block;
	          left: 50px;
	          padding-left: 0rem;
	          margin-top: 5rem;
	          
              
}
#coord-cont-6{
	          width: 45vw;
	          height: 36rem;
	          display: inline-block;
	          margin-left: 6vw;
	          margin-top: 5rem;
	          
	          
	      }

#coord-cont-7{
	          width: 45vw;
	          height: 36rem;
	          display: inline-block;
	          left: 50px;
	          padding-left: 0rem;
	          margin-top: 5rem;
	          
}
#coord-cont-8{
	          width: 45vw;
	          height: 36rem;
	          display: inline-block;
	          margin-left: 6vw;
	          margin-top: 5rem;
	          
	          
	      }
#coord-cont-9{
	          width: 45vw;
	          height: 36rem;
	          display: inline-block;
	          left: 50px;
	          padding-left: 0rem;
	          margin-top: 5rem;
	          
              
}
#coord-cont-10{
	          width: 45vw;
	          height: 36rem;
	          display: inline-block;
	          margin-left: 6vw;
	          margin-top: 5rem;
	          
	          
	      }
#coord-cont-11{
	          width: 45vw;
	          height: 36rem;
	          display: inline-block;
	          left: 50px;
	          padding-left: 0rem;
	          margin-top: 5rem;
	          
              
}
#coord-cont-12{
	          width: 45vw;
	          height: 36rem;
	          display: inline-block;
	          margin-left: 6vw;
	          margin-top: 5rem;
	          
	          
	      }
/* Class styling individual Cards */
.Coord{
         display: inline-block;
         height: 35rem;
         width: 35rem;
         font-size: 2rem;
         font-weight: lighter;
         text-align: center;
         vertical-align: middle;
         font-family: Fyodor;
         color: rgba(173, 170, 170, 1);
         
         
}

/* Syle images */
#Coord-0{
	     margin: 0;
	     background-color: #aaaaaa;
         height: 25rem;
         width: 25rem;
         border-radius: 50%;
		 border: 0.35rem dashed rgb(80,80,80);
         margin: auto;
		 transition: 0.3s ease 0.075s;
         vertical-align: middle;
		 position: relative;
		 cursor: pointer;
         color: #3e3e3e;
}

#Coord-0:hover{
			     border: 0.7rem solid #ff2942;
} 

#Coord-0 p{
     margin-top: 8rem;
}
#Coord-1{
	     margin: 0;
	     background-image: url('Coord-1.jpg');
         height: 25rem;
         width: 25rem;
         border-radius: 50%;
		 border: 0.6rem solid rgb(254,156,1);
         background-size: 100% 100%;
         margin: auto;
		 transition: 0.3s ease ;
         vertical-align: middle;
		 position: relative;
		 cursor: pointer;
}
#Coord-2{
	     margin: 0;
	     background-image: url('GaganC.jpg');
         height: 25rem;
         width: 25rem;
         border-radius: 50%;
		 border: 0.6rem solid rgb(254,156,1);
         background-size: 100% 100%;
         margin: auto;
		 transition: 0.3s ease ;
         vertical-align: middle;
		 position: relative;
		 cursor: pointer;
}
#Coord-3{
	     margin: 0;
	     background-image: url('Coord-3.jpg');
         height: 25rem;
         width: 25rem;
         border-radius: 50%;
		 border: 0.6rem solid rgb(254,156,1);
         background-size: 100% 100%;
         margin: auto;
		 transition: 0.3s ease ;
         vertical-align: middle;
		 position: relative;
		 cursor: pointer;
}
#SubC-1{
	     margin: 0;
	     background-image: url('SubC1.jpg');
         height: 25rem;
         width: 25rem;
         border-radius: 50%;
		 border: 0.6rem solid rgb(254,156,1);
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         margin: auto;
		 transition: 0.3s ease ;
         vertical-align: middle;
		 position: relative;
		 cursor: pointer;
}	
#SubC-2{
	     margin: 0;
	     background-image: url('SubC2.jpg');
         height: 25rem;
         width: 25rem;
         border-radius: 50%;
		 border: 0.6rem solid rgb(254,156,1);
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         margin: auto;
		 transition: 0.3s ease ;
         vertical-align: middle;
		 position: relative;
		 cursor: pointer;
}	
#SubC-3{
	     margin: 0;
	     background-image: url('SubC3.jpg');
         height: 25rem;
         width: 25rem;
         border-radius: 50%;
		 border: 0.6rem solid rgb(254,156,1);
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         margin: auto;
		 transition: 0.3s ease ;
         vertical-align: middle;
		 position: relative;
		 cursor: pointer;
}
#SubC-4{
	     margin: 0;
	     background-image: url('SubC4.jpg');
         height: 25rem;
         width: 25rem;
         border-radius: 50%;
		 border: 0.6rem solid rgb(254,156,1);
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         margin: auto;
		 transition: 0.3s ease ;
         vertical-align: middle;
		 position: relative;
		 cursor: pointer;
}
#SubC-5{
	     margin: 0;
	     background-image: url('SubC5.jpg');
         height: 25rem;
         width: 25rem;
         border-radius: 50%;
		 border: 0.6rem solid rgb(254,156,1);
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         margin: auto;
		 transition: 0.3s ease ;
         vertical-align: middle;
		 position: relative;
		 cursor: pointer;
}
#SubC-6{
	     margin: 0;
	     background-image: url('SubC6.jpg');
         height: 25rem;
         width: 25rem;
         border-radius: 50%;
		 border: 0.6rem solid rgb(254,156,1);
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         margin: auto;
		 transition: 0.3s ease ;
         vertical-align: middle;
		 position: relative;
		 cursor: pointer;
}
#SubC-7{
	     margin: 0;
	     background-image: url('SubC7.jpg');
         height: 25rem;
         width: 25rem;
         border-radius: 50%;
		 border: 0.6rem solid rgb(254,156,1);
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         margin: auto;
		 transition: 0.3s ease ;
         vertical-align: middle;
		 position: relative;
		 cursor: pointer;
}
#SubC-8{
	     margin: 0;
	     background-image: url('SubC4.jpg');
         height: 25rem;
         width: 25rem;
         border-radius: 50%;
		 border: 0.6rem solid rgb(254,156,1);
         background-size: contain;
         background-position: center;
         background-repeat: no-repeat;
         margin: auto;
		 transition: 0.3s ease ;
         vertical-align: middle;
		 position: relative;
		 cursor: pointer;
}
#Coord-1:hover{
			     border: 0.7rem solid #ff2942;
} 
#Coord-2:hover{
			     border: 0.7rem solid #ff2942;
} 
#Coord-3:hover{
			     border: 0.7rem solid #ff2942;
} 
#SubC-1:hover{
			     border: 0.7rem solid #ff2942;
} 
#SubC-2:hover{
			     border: 0.7rem solid #ff2942;
} 
#SubC-3:hover{
			     border: 0.7rem solid #ff2942;
} 
#SubC-4:hover{
			     border: 0.7rem solid #ff2942;
} 
#SubC-5:hover{
			     border: 0.7rem solid #ff2942;
} 
#SubC-6:hover{
			     border: 0.7rem solid #ff2942;
} 
#SubC-7:hover{
			     border: 0.7rem solid #ff2942;
} 


/* Paragraphs related to the Coordinators */
.Text-one, .Text-two, .Text-three{
	font-weight: lighter;
	font-size: 2rem;
	color: #505050;
}
.Text-one p, .Text-two p, .Text-three p{
	display: none;
}

/* Editing styles of font-awesome */
.fb, .git, .g1, .lin{
	font-size: 4rem;
	cursor: pointer;
	transition: all 0.2s ease ;
	color: purple;
}

.fb1, .git1, .g11, .lin1{
	display: inline-block;
}

.fb:hover{
	color: #0472fa;
}

.git:hover{
	color: #ffffff;
}

.g1:hover{
	color: #fa0202;
}

.lin:hover{
	color: #05acfa;
}

/* Fonts */
@font-face{
   font-family: Comme;
   src: url(Comme-ExtraLight.ttf);
}				
@font-face{
   font-family: Fyodor;
   src: url(opificio_bold.ttf);
}

