html,body {
	font:Raleway,serif;
	height:100%;
	 
}


h1{
  text-align: center;
}

.events {
  min-height:30% ;
  width:100%;
  display:block;
  margin:0;
  padding-top:20px;
  
  background: #67B26F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #67B26F , #4ca2cd); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #67B26F , #4ca2cd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
  
}







.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap, 
.ch-info{
	position: absolute;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.ch-info-wrap {
	top: 20px;
	left: 20px;
	background: #f9f9f9 url(../images/bg.jpg);
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);

}


.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
}

.ch-info .ch-info-front {
	transition: all 0.6s ease-in-out;
}

.ch-info .ch-info-back {
	opacity: 0;
	background: #223e87;
	pointer-events: none;
	transform: scale(1.5);
	transition: all 0.4s ease-in-out 0.2s;
}

.ch-img-1 { 
	background-image: url(asd.jpg);
}

.ch-img-2 { 
	background-image: url(asd.jpg);
}

.ch-img-3 { 
	background-image: url(asd.jpg);
}

.ch-img-4 { 
	background-image: url(asd.jpg);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	margin: 0 15px;
	padding: 40px 0 0 0;
	height: 80px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px 0;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #e7615e;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff;
}


.ch-item:hover .ch-info-front {
	transform: scale(0);
	opacity: 0;
} 

.ch-item:hover .ch-info-back {
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}



.outer{
  position:relative;
}
.c1{
  background-color: #606c88;
}
.c2{
  background-color: #005C97;
}
.c3{
  background-color: #283E51;
}
.c4{
  background-color: #525252;
}
.closeb{
  position:absolute;
  display:inline-block;
  padding:10px 15px;
  padding: 0px;
  color:#fff;
  background:#d30043;
  font-size:15px !important;
  left:5px;
  top:5px;
}
h1{
  text-align:center;
  font:400 40px 'open sans',sans-serif;
  color:#fff;
  margin:0;
  padding:20px;
}
button{
  border:none;
  outline:none;
  background:#eee;
  color:#222;
  padding:10px 20px;
  font:300 20px 'open sans',sans-serif;
  transition:all .3s linear;
  -moz-transition:all .3s linear;
  -webkit-transition:all .3s linear;
}
button:hover{
  background:#d30043;
  color:#fff;
}
.main1 ,.main2, .main3, .main4{
  padding:20px 0;
  width:100%;
  z-index:2;
  position:relative;
  background:#002838;
  transition:margin-left .2s ease-in;
  -moz-transition:margin-left .2s ease-in;
  -webkit-transition:margin-left .2s ease-in;
  height:600px;
}
.main1{
background: #606c88; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #606c88 , #3f4c6b); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #606c88 , #3f4c6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.main2{
background: #005C97; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #005C97 , #363795); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #005C97 , #363795); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main3{
background: #4B79A1; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #283E51 , #4B79A1); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left,  #283E51 , #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main4{
background: #525252; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.panel1, .panel2, .panel3, .panel4{
  background:#333;
  width:50%;
  color:#fff;
  font:30 50px 'open sans',sans-serif;
}
/* Overlay */
.overlayp{
  z-index:3;
  position:absolute;
  left:0;
  top:0;
  margin-left:-50%;
  transition:margin-left .2s ease-in;
  -moz-transition:margin-left .2s ease-in;
  -webkit-transition:margin-left .2s ease-in;
}
.overlayp.active{
  margin-left:0;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
}
/* Push */
.pushp1, .pushp2, .pushp3, .pushp4 {
  position:absolute;
  left:0;
  top:0;
  z-index:3;
  margin-left:-50%;
  transition:margin-left .2s ease-in;
  -moz-transition:margin-left .2s ease-in;
  -webkit-transition:margin-left .2s ease-in;
}
.pushp1.active, .pushp2.active, .pushp3.active, .pushp4.active {
  margin-left:0;
}
.main1.pactive ,.main2.pactive, .main3.pactive, .main4.pactive {
  margin-left:50%;
  max-width:50%;
}
/* Reveal */
.main1.ractive, .main2.ractive, .main3.ractive, .main4.ractive {
  margin-left:50%;
  width:100%;
  box-shadow:0 0 20px rgba(0,0,0,0.6);
  max-width:50%;
}
.revealp1, .revealp2, .revealp3, .revealp4{
  position:absolute;
  z-index:1;
  left:0;
  top:0;
}


.fotr {
  background:#333;
  min-height:6%;
  padding:5px;
  color:white;
  
}

